<% include ./partials/header %>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= user.username %>'s Campgrounds</h1>
            <br>
        </div>
    </div>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img class="small-image" src="<%= campground.image %>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                        <div class="buttons">
                            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit</a>
                            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
    
</div>

<% include ./partials/footer %>